= render partial: "projects/menu", as: :project, object: @project

.row
  = form_tag( project_collaborators_path(@project), method: :post, class: "form form-horizontal collaborators") do
    = render partial: "form"
