= simple_form_for @record, as: :record, method: :post, url: project_records_path(@project, format: :js, dom_selector: @dom_selector), remote: true do |f|
  = render partial: "records/form", as: :f, object: f
  = link_to "close", "#", "data-close-form" => true
