= f.input :name, label: "名稱"
= f.input :price_of_hour, label: "每小時單價", as: :integer
= f.input :monthly_limit_hours, label: "每月時數上限", as: :integer
- if current_user == f.object.owner
  = f.input :owner_id, collection: collection_for_project_users(f.object), label: "擁有人", include_blank: "請選擇擁有人" unless f.object.new_record?

.form-actions
  = f.submit "新增", class: "btn btn-primary"
