= render partial: "menu", as: :project, object: @project

h2= link_to "Slack 頻道設定", project_slack_channels_path(@project)

= simple_form_for @project, url: setting_project_path(@project), method: :put do |f|
  = render partial: "form", object: f, as: :f
