// -----------------------
// Form - basics
// -----------------------
.form-horizontal {
  width: 60%;

  .control-label {
    color: #777;
  }
}

.form-new-record,
.form-new-todo {
  form {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 15px;
    width: 80%;
  }

  .btn-default {
    margin-right: 10px;
  }
}

.form-new-record,
.filter-form {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-new-record {
  .control-label,
  .form-control {
    float: left;
  }

  .control-label {
    padding-right: 15px;
    width: 25%;

    &.radio_buttons {
      margin-bottom: 2em;
    }
  }

  .form-control {
    width: 75%;
  }

  .radio {
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: auto;

    input {
      border: 0;
      box-shadow: none;
      height: 20px;
      margin-top: 2px;
      width: 100%;
    }
  }

  .boolean {
    label {
      & + label {
        display: block;
        float: left;
        width: 20px;
      }

      input {
        box-shadow: none;
      }
    }
  }
}

.filter-form {
  .check_boxes {
    box-shadow: none;
    margin-top: -7px;
  }
}
