development: &default
  adapter: 'postgis'
  encoding: 'unicode'
  database: 'jupiter_development'
  host: 'localhost'
  username: 'root'
  password: ''
  postgis_extension: true
  schema_search_path: 'public, postgis'

test: &TEST
  <<: *default
  database: 'jupiter_test'

production:
  adapter: 'postgis'
  encoding: 'unicode'
  database: 'jupiter'
  host: 'production.cqndlcrl4vjd.ap-northeast-1.rds.amazonaws.com'
  username: 'scoopr'
  password: ''
  postgis_extension: true
  schema_search_path: 'public, postgis'

