= f.input :primary?, as: :boolean, label: "主要"
= f.input :name, as: :string, required: true
= f.input :webhook, as: :string, required: true
= f.input :room, as: :string, required: true, hint: "user 請用 @xxx. private Channel 無需 # 開頭"
= f.input :icon_url, as: :string
= f.input :robot_name, as: :string
= f.input :events, as: :check_boxes, collection: collection_for_slack_channel_events, checked: f.object.events
.form-group
  .col-sm-offset-3.col-sm-9
    = f.submit "送出", class: "btn btn-default"
