= f.input :name, as: :string, required: true
= f.input :webhook, as: :string, required: true
= f.input :room, as: :string, required: true, hint: "user 請用 @xxx. private Channel 無需 # 開頭"
= f.input :icon_url, as: :string
= f.input :robot_name, as: :string
= f.submit "送出"
