h1 已完成的 Todos
.js-todos-done
  = render partial: "list", object: @done_todos
hr/

h1 進行中的 Todos
.js-todos-processing
  = render partial: "list", object: @processing_todos, locals: { processing: true }

h1 尚未進行的 Todos
.js-todos-not-done
  = render partial: "list", object: @not_done_todos

.js-new-todo-form
= link_to "新增 TODO", new_todo_path(format: :js), remote: true, class: "btn btn-default"
| &nbsp;
= link_to "發佈到 Slack", publish_todos_path, "data-confirm" => "確定發佈", method: :post, class: "btn btn-default"
