= f.input :webhook_name, label: "webhook name"
= f.input :repo_fullname, label: "repo fullname", as: :select, collection: GithubService.new(current_user.github_token).collect_all_repos

.form-actions
  = f.submit "Bind", class: "btn btn-primary"
