= link_to "Update Token Permisssion", auth_github_path(scope: "user,user:email,repo,admin:repo_hook", origin: current_url), class: "btn btn-danger", method: :post unless validates_current_github_token_for_webhook
