// -----------------------
// Navigation - variables
// -----------------------
$nav-bg: #e7e7e7;
$nav-side-nav-bg: #F3F3F3;
$nav-brand-hover: #555;
$nav-text: #777;
$nav-hover-bg: #428bca;
$nav-hover-text: #fff;
