/*
 *= require jquery-ui/datepicker
 *= require jquery-ui/slider
 *= require jquery.timepicker
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
@import "basics";
@import "layouts";

// projects/edit
.project_user {
  + .project_user {
    border-top: 1px solid #ddd;
    margin-top: 5px;
    padding-top: 15px;
  }

  a {
    margin: 15px 10px 15px 0;
  }
}
