/*
 *= require jquery-ui/datepicker
 *= require jquery-ui/slider
 *= require jquery.timepicker
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
@import "basics";
@import "layouts";

// projects/edit
.project_user {
  + .project_user {
    border-top: 1px solid #ddd;
    margin-top: 5px;
    padding-top: 15px;
  }

  a {
    margin: 15px 10px 15px 0;
  }
}

.project-info,
.slack-channels {
  width: 60%;

  td:first-child {
    width: 30%;
  }

  td:last-child {
    border-left: 1px solid #ddd;
  }
}

// tables
// projects/show
.project-info {
  td:last-child {
    background-color: #f9f9f9;
  }
}

.project-member,
.project-collaborators {
  tbody > tr > td {
    line-height: 50px;
  }
}

select.form-control.datetime {
  width: 60px;
}
